<div class="row mt-32">
  <div class="col-12">
    <div class="kpop-image">
      <img src="newjeans.jpg"/>
    </div>

    <div class="kpop-description">
    <h4>This is Newjeans! They are a kpop group! They sing! They are asian. They made a song with League of Legends.</h4>
    </div>

  <div class="tab-component">
    <mat-tab-group>
      <mat-tab label="Facebook"> Content 1 </mat-tab>
      <mat-tab label="Instagram"> Content 2 </mat-tab>
      <mat-tab label="X"> Content 3 </mat-tab>
    </mat-tab-group>
  </div>
  </div>
</div>
