.spacer {
  padding: 2rem 2rem 2rem 2rem;
  background-color: white;
}

.global-header-nav {
  display: flex;
  flex-direction: row;
  background-color: white;
  color:black;
  justify-content: space-evenly;
  width: 100%;
}

