.spacer {
  padding: 2rem 2rem 2rem 2rem;
  background-color: white;
}

.global-header-nav {
  display: flex;
  flex-direction: row;
  background-color: white;
  color:black;
  justify-content: space-evenly;
  width: 100%;
}

.kpop-image {
  width: 30%;
  margin-top: 2.5%;
  margin-left: 5%;
  float: left;

}

.kpop-description {
  width: 80%;
  margin-top: 2.5%;
  margin-left: 5%;
}

.tab-component {
  margin-bottom:10%;
  margin-top:15%;
  background-color: white;
  color: black;
}
